{% extends 'basic.html' %}

{% block title %} Malaviya Krish {% endblock %}

{% block css %}
.header{
background: url('../media/image/code.jpg') center center fixed no-repeat;
background-size: cover;
width: 100%;
height: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.header .title{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: url('../media/image/logo.png') center center fixed no-repeat;
/* background-size: cover; */
box-shadow: 0px 0px 20px rgb(0, 0, 0);
width: 400px;
height: auto;
margin: 20px 10px;
padding: 50px;
border-radius: 30px;
}
.header .title img{
margin-bottom: 20px;
margin-top: -10px;
width: 250px;
box-shadow: 0px 0px 20px rgb(0, 0, 0);
height:250px;
}
.header .title .headerbtn{
display: flex;
box-shadow: 0px 0px 20px rgb(0, 0, 0);
flex-direction: column;
align-items: center;
justify-content: center;
background: rgb(255, 255, 255);
width: 150px;
padding: 20px 0px;
}
.header .title .headerbtn a{
width: 70px;
text-decoration: none;
text-align: center;
color: rgb(0, 0, 0);
padding: 5px 10px;
font-size: 20px;
margin: 5px 0px;
box-shadow: 0px 0px 20px rgb(0, 0, 0);
transition: all .5s;
}
.header .title .headerbtn a:hover{
transform: scale(1.5);
text-shadow: 0px 5px 3px black;
background: white;
}
{% endblock %}

{% block body %}
<div class="header">
    <div class="title">
        <img src="../media/image/logo.png" alt="Logo">
        <div class="headerbtn">
            <a href="#">Projects</a>
            <a href="#">Videos</a>
        </div>
    </div>
</div>
{% endblock %}